
<h3>Submit Info For New Location</h3>
<div>
  {{!-- <form action="/action_page.php"> --}}
    <label for="locale">Location/Destination</label>
    <input type="text" id="locale" name="locale" placeholder="City, Country Names..">
    
    <label for="memory">Travel Notes</label>
    <input type="text" id="memory" name="memory" placeholder="What was memorable..">

    <input type="submit" value="Submit">

  </form>
  <a href="/index"> </a>
</div>