 
  <nav>
      <div class="nav-wrapper #b39ddb deep-purple lighten-3">
        <a href="/locations" class="brand-logo">Gotta Get Back</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Destinations</a></li>
        </ul>
      </div>
    </nav>


<div class="container"> 
  <h1>Post Info For New Destination</h1>
</div>
    <form action="/locations" method="post">
      <p>
      <label for="locale">Location/Destination</label>
      <input type="text" value="" name="title" placeholder="City, Country Names..">
      
      <label for="memory">Travel Notes</label>
      <input type="text" value="" name="body" placeholder="What was memorable..">
      </p>
      <input type="submit" value="Post">
    </form>
 