 {{!-- add the code for the nav bar and make the logo route to home --}}
  <nav>
      <div class="nav-wrapper #b39ddb deep-purple lighten-3">
        <a href="/locations" class="brand-logo">Gotta Get Back</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/locations/new">New</a></li>
          <li><a href="/locations/edit/{{this.id}}">Edit</a></li>
          <li><a href="/">Destinations</a></li>
        </ul>
      </div>
    </nav>

{{!-- Set up each card and center them --}}
<div class="container">
  <h1>Location Details</h1>
    <div class="row">
          {{!-- <div class="col s12 m5"> --}}
            <div class="card #9575cd deep-purple lighten-5">
              <div class="card-content black-text">
                <span class="card-title">{{this.title}}</span>
                <p>{{this.body}}</p>
              </div>
              <div class="card-action">
                <form action="/locations/{{this.id}}?_method=delete" method="post">
                <input type="submit" value="Remove">
                </form>
              </div>
            </div>
        {{!-- </div> --}}
    </div>
</div>
            