<h3>Location Details</h3>

<div class="card">
  <div class="card-stacked">
    <h4>{{title}}</h4>
  </div>
  <div class="card-action">
    <p>{{ body }}</p>
  </div>
</div>
 <a href="/">Destination List</a> 
 <a href="/locations/new">New</a>