{{!-- add the code for the nav bar and custimize links --}}
  <nav>
      <div class="nav-wrapper #b39ddb deep-purple lighten-3">
        <a href="/locations" class="brand-logo">Gotta Get Back</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/locations/new">New</a></li>
        </ul>
      </div>
    </nav>

{{!-- get each card to populate on a card --}}
<div class="container">
  <h1>Locations To Get Back To</h1>
  <section class="lists">
    {{#each places}}
    <a href="/locations/{{id}}" class="test">
      <div class="col s12 m5">
        <div class="card transparent z-depth-5">
          <div class="card-content black-text">
            <p>{{title}}</p>
          </div>
        </div>
      </div>
    </a>
    {{/each}}
  </section>
  </div>
</div>
