
 <div class ="container">
  <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/locations/new">New</a></li>
          <li><a href="/locations/edit/{{this.id}}">Edit</a></li>
        </ul>
      </div>
    </nav>
  </div>
  
<section class="lists">
  {{#each places}}
  <a href="/locations/{{id}}" class="test">
    <div class="places list">
      <div class="places">
        <p>{{title}}</p>
      </div>
    </div>
  </a>
  {{/each}}
</section>
