
<section class="lists">
  {{#each places}}
  <a href="/locations/{{id}}" class="test">
    <div class="places list">
      <div class="places">
        <p>{{title}}</p>
      </div>
    </div>
  </a>
  {{/each}}
</section>
<a href="/locations/new">New</a>