<h1>Destination Overviews </h1>
<section class="lists">
  {{#each places}}
  <a href="/location/{{id}}" class="ggreegrea">
    <div class="places list">
      <div class="placess">
        <p>{{title}}</p>
      </div>
    </div>
  </a>
  {{/each}}
</section>

<a href="/new">New</a>