<!DOCTYPE html>
<html>
  <head>
    <title>GOTTA GET BACK</title>
  </head>
  <body>

   {{{body}}}
   
  </body>
  {{!-- <a href="/">Destination List</a> 
 <a href="/locations/new">New</a>
 <a href="/locations/edit/{{this.id}}">Edit</a> --}}
</html>