.container {
    text-align: center;
}

.card {
    text-align: center;
}

/* .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: auto;

}
 */

.nav-wrapper { 
     font-style: 'Pacifico', cursive;
 }